@import 'config';
@include mediaSm {
 header {
   position: relative;
   height: 65vh;
   .banner {
     font-size: .8rem;
   }
   .navbar {
    padding: 0 1rem;
     .menu {
       flex-direction: column;
       justify-content: center;
       @include ease-out;
       background: #000;
       padding: 0;
       position: absolute;
       width: 100%;
       top: 60px;
       height: 0  ;
       left: -1.5rem;
       overflow: hidden;
       li {
         padding: .7rem;
       }
     }
     .show-menu {
       padding: 2rem .5rem;
       height: 250px;
     }
   }
   .hamburger-button {
      position: relative;
      display: flex !important;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 30px;
      .toggle-btn {
        @include ease-out;
        position: absolute;
        height: 100%;
        width: 100%;
        appearance: none;
        outline: none;
      }
      .toggle-btn:checked ~ div:nth-child(2){
        transform: translate(-3px,10px) rotate(45deg);
      }
      .toggle-btn:checked ~ div:nth-child(4){
        transform: translate(-3px,-10px) rotate(-45deg);
      }
      .toggle-btn:checked ~ div:nth-child(3){
        opacity: 0;
        transform: scale(0);
      }
      div {
        cursor: not-allowed;
        height: 3px;
        background: #fff;
        width: 100%;
        @include ease-out;
      }
   }
   
   .banner {
     margin-top: -2.3rem;
   }
 }

 .message-section {
  .col-2 {
    @include break-point;
   }
 }
 
  .steps-section {
    h2 {
      @large-size;
      font-weight: 300;
      text-align: center;
      line-height: 1.7;
    }
    .steps {
      grid-template-columns: 1fr;
      &:before {
        top: -40px;
        left: 50%;
        transform: translatex(-50%);
        z-index: 0; 
      }
      .step {
        margin: 1rem;
        &:nth-child(odd), &:nth-child(even){
          margin: 0;
          margin-bottom: 2.5rem;
          &:before{
            display: none;
          }
        }
      }
    }
  }
  
  .gallery ul {
    @include break-point;
  }
  .contact-section {
    padding: 1.5rem 0;
    .contact div {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      &:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      &:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}

.map-section {
  text-align: center;
  h2 {
   @include large-size;
   font-weight: 300;
  }
  .embed-map iframe {
   width: 100%;
  }
}

footer {
  flex-direction: column;
  .logo {
    margin-bottom: .2rem;
  }
}